<ion-header>
  <ion-toolbar>
    <div style="display: flex;">
      <ion-button shape="round" (click)="this.exit()" color="success">
        <ion-icon name="arrow-undo-outline"></ion-icon>
      </ion-button>
      <ion-title>{{'TAB4.friends' | translate}}</ion-title>
    </div>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar #input showCancelButton="focus" debounce="500" (ionChange)="searchUsers($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <p class="nUser">{{this.nUser}} {{'TAB4.friends' | translate}}</p>
  </ion-item>
  <ion-item *ngFor="let u of users">
    <ion-label>
      <ion-item>
        <ion-thumbnail (click)="this.setAvatar()" slot="start">
          <ion-img [src]="u.avatar"></ion-img>
        </ion-thumbnail>
        <div>
          <h1>{{u.name}}</h1>
        </div>
        <ion-button color="danger" style="height: 55%;width: 20%; margin-left: 20%;" (click)="this.removeFriendBtn(u)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-label>
  </ion-item>
</ion-content>