<ion-header>
  <ion-toolbar>
    <ion-button shape="round" (click)="this.exit()" color="success">
      <ion-icon name="arrow-undo-outline"></ion-icon>
    </ion-button>                                           
  </ion-toolbar>
</ion-header>

<ion-content>
 
    <ion-item ><h2 class="center">{{this.trainingExe.title}}</h2></ion-item>
    <ion-item ><h5 class="center">{{'TAB2.breakT' | translate}}: {{this.timerS.minBT}}:{{this.timerS.sBT}}</h5></ion-item>
  <ion-slides >
    <ion-slide *ngFor="let item of this.trainingExe.exercises">
      <div >
        <img class="exePhoto" [src]="item.photo"/>
        <h2>{{item.nameExercise}}</h2>
        <p>{{item.description}}</p>
        <ion-item >
          <p style="margin-left: auto;"><b>{{item.type}}:</b></p>
          <p style="margin-right: auto;margin-left: 20px;">{{item.repTime}}</p>
        </ion-item>
      </div>
    </ion-slide>
   
  </ion-slides>
  <ion-button (click)="this.openStartTraining()" class="bottom" expand="block" shape="round">{{'CHRONOMETER.start' | translate}}</ion-button>
</ion-content>
