<ion-header>
  <ion-toolbar>
    <ion-button shape="round" (click)="this.exit()" color="success">
    <ion-icon name="arrow-undo-outline"></ion-icon>
  </ion-button>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar #input showCancelButton="focus" debounce="500" (ionChange)="searchExercise($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form id="form" [formGroup]="task" (ngSubmit)="this.save()">
    <ion-refresher slot="fixed" (ionRefresh)="this.loadAll($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list>
      <ion-item *ngFor="let entry of exercises">
        <ion-label>
          <ion-item>
            <ion-thumbnail (click)="this.setAvatar()" slot="start">
              <ion-img [src]="entry.photo"></ion-img>
            </ion-thumbnail>
            <div>
              <h1>{{entry.nameExercise}}</h1>
              {{entry.description}}
            </div>
          </ion-item>
        </ion-label>
        <ion-checkbox (click)="entry.isChecked=$event.currentTarget.checked" formControlName="check" slot="end"></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <ion-button class="bottom" type="submit" expand="block" shape="round">{{'EXERCISE.save' | translate}}
    </ion-button>
  </form>
</ion-content>