<form id="form" [formGroup]="task">
<ion-item >
  <ion-thumbnail slot="start">
    <ion-img [src]=""></ion-img>
  </ion-thumbnail>
  <ion-label position="floating">Exercise</ion-label>
  <ion-input formControlName="exercise" type="submit | text" ></ion-input>
</ion-item>
  <ion-item >
  <ion-label position="floating">Description</ion-label>
  <ion-input formControlName="description" type="submit | text" ></ion-input>
</ion-item>
<ion-item>
  <ion-label>Type</ion-label>
  <ion-select interface="popover" >
    <ion-select-option type="submit" value="repetitions">Repetitions</ion-select-option>
    <ion-select-option type="submit" value="time">Time</ion-select-option>
  </ion-select>
  <ion-button (click)="this.removeTRounds()" class="addRemove" slot="" shape="round">
    <ion-icon name="remove-circle-outline"></ion-icon>
  </ion-button> 
  {{this.num}}
    <ion-button (click)="this.addTRounds()" class="addRemove" slot="" shape="round">
    <ion-icon name="add-circle-outline"></ion-icon>
  </ion-button>
</ion-item>
</form>
