<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
     <ion-button color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>-->
    <ion-buttons slot="end">
      <ion-button routerLink="/login">Log in</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <h1>{{'SIGNUP.create' | translate}}<br />{{'SIGNUP.count' | translate}}</h1>

  <form id="form" [formGroup]="task" (ngSubmit)="this.sendForm()">
    <ion-item>
      <ion-input [class.is-invalid] = "Name.invalid && Name.touched" formControlName="name" placeholder="Your Name"></ion-input>
    </ion-item>
    <div class="input" *ngIf="(Name.invalid && Name.touched) || Name.dirty">
      <small *ngIf="Name.errors?.required" class="text-danger">{{'SIGNUP.name' | translate}}</small>
    </div> 
    <ion-item class="input-top">
      <ion-input [class.is-invalid] = "Email.invalid && Email.touched"
       formControlName="email" type="email" placeholder="Email"></ion-input>
    </ion-item>
      <div class="input" *ngIf="(Email.invalid && Email.touched) || Email.dirty">
        <small *ngIf="Email.errors?.required" class="text-danger">{{'SIGNUP.emailR' | translate}}</small>
        <small *ngIf="Email.errors?.email" class="text-danger">{{'SIGNUP.email' | translate}}</small>
      </div>
    <ion-item class="input-top">
      <ion-input [class.is-invalid] = "Pass.invalid && Pass.touched" formControlName="pass" type="password" placeholder="Password"></ion-input>
    </ion-item>   
    <div class="input" *ngIf="(Pass.invalid && Pass.touched) || Pass.dirty">
      <small *ngIf="Pass.errors?.required" class="text-danger">{{'SIGNUP.passR' | translate}}</small>
      <small *ngIf="Pass.errors?.minlength" class="text-danger">{{'SIGNUP.pass' | translate}}</small>
      <small *ngIf="Pass.errors?.pattern" class="text-danger">{{'SIGNUP.passPatt' | translate}}</small>
    </div> 
    <ion-button [disabled]="!task.valid" type="submit" expand="block" shape="round">{{'SIGNUP.join' | translate}}</ion-button>
  </form>

  <p>{{'SIGNUP.pressJoin' | translate}} <br />{{'SIGNUP.terms' | translate}}</p>
</ion-content>