<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon  class="gloveIco" src="./assets/imgs/boxing-glove.svg"></ion-icon>
      <ion-label>{{'TAB1.training' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="timer-outline"></ion-icon>
      <ion-label>{{'TAB2.chronometer' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="people"></ion-icon>
      <ion-label>{{'TAB4.publications' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="person"></ion-icon>
      <ion-label>{{'TAB3.profile' | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
