#progress-circle{
    margin-top:50px;
    transform: rotate(-90deg);
}
.timer-text{
    transform: rotate(90deg);
    transform-origin: center;
    font-size: 36px;
    text-anchor: middle;
    font-weight: 600;
    fill:#333;
}

.round{
    text-align:center !important;
    font-size: 36px;
    font-weight: 600;
    color:#333;
}