<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="timer-outline"></ion-icon>
      <ion-label>{{'TAB2.chronometer' | translate}}</ion-label>
    </ion-title>
    <app-popover slot="end"></app-popover>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item class="tab2">
    <ion-label>{{'TAB2.rounds' | translate}}:
      <ion-button (click)="this.removeRound()" class="addRemove" slot="start" shape="round">
      <ion-icon name="remove-circle-outline"></ion-icon>
    </ion-button> 
    {{this.round}}
      <ion-button (click)="this.addRound()" class="addRemove" slot="start" shape="round">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-button>
  </ion-label>
  </ion-item>
  <ion-item class="tab2">
    <ion-label>{{'TAB2.roundsT' | translate}}:
      <ion-button (click)="this.removeTRounds()" class="addRemove" slot="start" shape="round">
        <ion-icon name="remove-circle-outline"></ion-icon>
      </ion-button> 
      {{this.timerS.min}}:{{this.timerS.s}}
        <ion-button (click)="this.addTRounds()" class="addRemove" slot="start" shape="round">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-label>
  </ion-item>
  <ion-item class="tab2">
    <ion-label>{{'TAB2.breakT' | translate}}:
      <ion-button (click)="this.removeBTime()" class="addRemove" slot="start" shape="round">
        <ion-icon name="remove-circle-outline"></ion-icon>
      </ion-button> 
      {{this.timerS.minBT}}:{{this.timerS.sBT}}
        <ion-button (click)="this.addBTime()" class="addRemove" slot="start" shape="round">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-label>
  </ion-item>

  <ion-item>
    
    <ion-button (click)="this.reset()" class="bCleStar" slot="start" shape="round">
      <ion-icon class="clear" name="close-circle-outline"></ion-icon>
      {{'TAB2.clean' | translate}}
    </ion-button>
    <ion-button (click)="this.openChronometer()" class="bCleStar" slot="end" shape="round">
      <ion-icon class="clear" name="caret-forward-circle-outline"></ion-icon>
      {{'TAB2.start' | translate}}
    </ion-button>
  </ion-item>
</ion-content>
