<ion-header>
  <ion-toolbar>
    <ion-button shape="round" (click)="this.exit()" color="success">
      <ion-icon name="arrow-undo-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form id="form" [formGroup]="task" (ngSubmit)="this.save()">
    <ion-item class="photoExercise">
      <ion-thumbnail class="centerExercise" (click)="this.setAvatar()" slot="start">
        <ion-img [src]="this.exercise.photo"></ion-img>
      </ion-thumbnail>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{'EXERCISE.name' | translate}}</ion-label>
      <ion-input formControlName="exercise" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{'EXERCISE.description' | translate}}</ion-label>
    </ion-item>
    <ion-item>
      <textarea formControlName="description"></textarea>
    </ion-item>
    <ion-item class="space-bottom">
      <ion-label>{{'EXERCISE.type' | translate}}</ion-label>
      <ion-select formControlName="type" [(ngModel)]="this.tipo" interface="popover">
        <ion-select-option value="Repetitions">{{'EXERCISE.repetitions' | translate}}</ion-select-option>
        <ion-select-option value="Time">{{'EXERCISE.time' | translate}}</ion-select-option>
      </ion-select>
      <ion-button (press)="this.removeTRoundsPress()" (click)="this.removeTRounds()" (pressup)="this.clearPress()"
        (pan)="this.clearPress()" class="addRemove" slot="" shape="round">
        <ion-icon name="remove-circle-outline"></ion-icon>
      </ion-button>
      <div *ngIf="loadTimeExercise(); else elseBlock">{{timeExer|async}}</div>
      <ng-template #elseBlock> {{this.num}}</ng-template>

      <ion-button (press)="this.addTRoundsPress()" (click)="this.addTRounds()" (pressup)="this.clearPress()"
        (pan)="this.clearPress()" class="addRemove" slot="" shape="round">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-button [disabled]="!task.valid" class="bottom btn-flotante" type="submit" expand="block" shape="round">{{'EXERCISE.save' | translate}}
    </ion-button>
  </form>
</ion-content>
