<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="person"></ion-icon>
      <ion-label>{{'TAB3.profile' | translate}}</ion-label>
    </ion-title>
    <app-popover slot="end"></app-popover>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-avatar class="item-avatar" (click)="this.setAvatar()" slot="start">
      <img [src]="this.user.avatar">
    </ion-avatar>
    <ion-label>
      <h3>{{this.user.name}}</h3>
      <p>{{this.user.email}}</p>
    </ion-label>
  </ion-item>
<ion-button shape="round" expand="full"  (click)="this.logout()" >{{'TAB3.logout' | translate}}<ion-icon name="exit-sharp"></ion-icon>
</ion-button>
</ion-content>
