<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="person"></ion-icon>
      <ion-label>{{'TAB3.profile' | translate}}</ion-label>
    </ion-title>
    <app-popover slot="end"></app-popover>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-avatar class="item-avatar" (click)="this.setAvatar()" slot="start">
      <img [src]="this.user.avatar">
    </ion-avatar>
    <ion-label>
      <h3>{{this.user.name}}</h3>
      <p>{{this.user.email}}</p>
    </ion-label>
  </ion-item>
  <ion-item (click)="this.openHistorical()" style="border-bottom: 1px #808388 solid;">
    <ion-icon slot="end" name="file-tray-full-sharp"></ion-icon>
    <ion-label>{{'TAB3.historical' | translate}}</ion-label>
  </ion-item>
  <ion-item (click)="this.openGraph()" style="border-bottom: 1px #808388 solid;">
    <ion-icon slot="end" name="bar-chart-sharp"></ion-icon>
    <ion-label>{{'TAB3.graph' | translate}}</ion-label>
  </ion-item>
  <ion-item (click)="this.openFavorites()" style="border-bottom: 1px #808388 solid;">
    <ion-icon slot="end" name="star"></ion-icon>
    <ion-label>{{'TAB3.favorites' | translate}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-toggle class="ion-toggleProfile" slot="end" [(ngModel)]="this.isPublic" (ionChange)="publish($event)">
    </ion-toggle>
    <ion-label *ngIf="this.isPublic;else elseBlock">{{'TAB3.private' | translate}}</ion-label>
    <ng-template #elseBlock>
      <ion-label>{{'TAB3.public' | translate}}</ion-label>
    </ng-template>
  </ion-item>
  <ion-button class="bottom" shape="round" expand="full" (click)="this.logout()">{{'TAB3.logout' | translate}}<ion-icon
      name="exit-sharp"></ion-icon>
  </ion-button>
</ion-content>