<ion-header>
  <ion-toolbar>
    <ion-button shape="round" (click)="this.exit()" color="success">
      <ion-icon name="arrow-undo-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
<!--
    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Obtained Marks</ion-card-subtitle>
          <ion-card-title>Line Chart</ion-card-title>
        </ion-card-header>
        <ion-card-content>
         
        </ion-card-content>
      </ion-card>-->
      <canvas #lineCanvas  ></canvas>
</ion-content>
